
/* Slider */
#slider{
    /* background-color: rgb(236, 168, 78); */
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px
}
.dotBtn>li{
    height: 15px;
    width: 15px;
    border-radius: 50%
}

.group-feature{
    padding-top: 10px;
    padding-bottom: 10px
}




