/*Login*/
#login1 {
  /* background-color: black; */
}
.rightLogin {margin-bottom: 40px;}
.rightLogin .path {
  float: left;
  padding: 16px 9px;
}
.rightLogin .content {
  margin-top: 10px;
  border: 1px solid white;
  padding: 20px 20px;
  border-radius: 4px;
  margin: auto;
  width: 50%;
}
.rightLogin .content form {
 margin-left: auto;
}
.rightLogin .content form button {height: 50px; margin-top: 8px;margin-right: 400px;width: 395px;}
.rightLogin .content .text {width: 189px;padding: 12px 0;}
.rightLogin .content .socialIcon {width: 331px;}
.rightLogin .content .socialIcon .fb {
  background-color: blue;
}
.rightLogin .content .socialIcon .google{
  background-color: red; margin-left: 30px;
}
.rightLogin .bottom {
  margin-top: 20px;
  border: 1px solid white;
  padding: 20px 20px;
  border-radius: 4px;
  text-align: center;
  line-height: 24px;
}
.rightLogin .bottom button {margin-top: 15px;}
#login1 .sidebar {margin-top: 63px;border-left: 1px solid white;
  padding: 20px 20px;height: 390px;text-align: left;}
  #login1 .sidebar ul li {padding-top: 15px; border-bottom: 1px solid white;}
  #login1 .sidebar ul li:hover {background-color: blue;}
  #login1 .sidebar h5 {margin-left: 40px;}