#order {background-color: black;}
 #order .rightbar {margin-top: 63px;border-left: 1px solid white;
padding: 20px 20px;height: 390px;text-align: left;}
#order .rightbar ul li {padding-top: 15px; border-bottom: 1px solid white;}
#order .rightbar ul li:hover {background-color: blue;}
#order .rightbar h5 {margin-left: 40px;}
#order .wrap .leftbar {padding: 40px ;}
#order .wrap {
padding-bottom: 20px;
}
#order .wrap .content {border: 1px solid white;margin-top: 20px;border-radius: 5px;
	box-shadow: 2px 2px grey;padding: 20px 20px;}
#order .wrap .leftbar .content .search {
	margin: 20px 0;
	border-radius: 5px;
	border: 1px solid grey;
	padding: 10px 10px;
} 

#order .wrap .leftbar .content .search label {
	font-size: 13px;
}
#order .wrap .leftbar .content .search .form-control {
	font-size: 13px;
	background-color: grey;
	color: yellow;
}
#order .wrap .leftbar .content .table tr {
	text-align: center;
	font-family: lobster;
}